<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>下单页面</title>
		<link rel="stylesheet" type="text/css" href="plugins/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="plugins/city-picker.css">
		<link rel="stylesheet" type="text/css" href="css/public.css">
		<link rel="stylesheet" type="text/css" href="css/nav.css">
		<link rel="stylesheet" type="text/css" href="css/styleorder.css">
		<!-- 引入百度地图js -->
		<script type="text/javascript" 
		src="http://api.map.baidu.com/api?v=2.0&ak=Tv5WS4AXdI0lTKR79GQ3bnKXl2Lj0y1w"></script>
		<script src="plugins/jquery.min.js" type="text/javascript"></script>
		<script src="plugins/bootstrap.min.js" type="text/javascript"></script>
		<script src="http://nervgh.github.io/js/es5-shim.min.js"></script>
		<script src="http://nervgh.github.io/js/es5-sham.min.js"></script>
		<script src="plugins/console-sham.min.js" type="text/javascript"></script>
		<script src="plugins/city-picker.data.js" type="text/javascript"></script>
		<script src="plugins/city-picker.js" type="text/javascript"></script>
		<script src="js/city-choose.js" type="text/javascript"></script>
		<script src="js/nav.js" type="text/javascript"></script>
		<script type="text/javascript">
			$(function(){
				//将详细地址输入框变为baidu地图提示的
				var ac = new BMap.Autocomplete(    
						{"input" : "sendAddress1"}
											  );
				var ac = new BMap.Autocomplete(    
						{"input" : "sendAddress2"}
											  );	
			})
		</script>
	</head>

	<body>
		<!--nav-->
		<div id="headnav">
			<div class="mainnav">
				<nav class="nav navbar-default">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						        <span class="sr-only">折叠菜单</span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
			               	</button>
							<a class="navbar-brand" href="#"><img src="img/icon/logo.png"></a>
						</div>
						<div class="collapse navbar-collapse">
							<ul class="nav navbar-nav navbar-right" id="menu">
								<li>
									<a href="index.html" target="_blank">首页</a>
								</li>
								<li>
									<a href="order.html" target="_blank">在线下单</a>
								</li>
								<li>
									<a href="express_manage.html" target="_blank">快件管理</a>
								</li>
								<li>
									<a href="userinfo.html" target="_blank">账户管理</a>
								</li>
								<li>
									<a href="search.html" target="_blank">查询服务</a>
								</li>
								<li>
									<a href="myhome.html" target="_blank">我的主页</a>
								</li>
								<li>
									<a href="login.html" target="_blank">登录</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>

		<div class="order">
			<!-- orderall -->
			<section>
				<div class="tab-title ">
					<ul class="nav nav-tabs container" role="tablist">
						<li role="presentation" class="active">
							<a href="#home" aria-controls="home" role="tab" data-toggle="tab">单件下单</a>
						</li>
						<li role="presentation">
							<a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">批量下单</a>
						</li>

					</ul>

					</ul>
				</div>
				<div class="tab-content container">
					<div class="jiangli">
						<div class="col-md-4 xiaojf">
							<h5>消费积分奖励</h5>
							<p class="grey">消费1元积1分，累计积分兑好礼</p>
						</div>
						<div class="col-md-4 tenjf">
							<h5>消费积分奖励</h5>
							<p class="grey">消费1元积1分，累计积分兑好礼</p>
						</div>
						<div class="col-md-4 qianjf">
							<h5>消费积分奖励</h5>
							<p class="grey">消费1元积1分，累计积分兑好礼</p>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade in active" id="home">

						<ul class="nav nav-tabs">
							<li role="presentation" class="active">
								<a href="#one" aria-controls="home" role="tab" data-toggle="tab">国内</a>
							</li>
							<li role="presentation">
								<a href="#two" aria-controls="profile" role="tab" data-toggle="tab">港澳台</a>
							</li>
						</ul>
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane fade in active" id="one">
								<!--寄件人信息 -->
								<div class="model">
									<div class="areatitle">
										<h4><span class="zhezhao">寄件人信息</span></h4>

									</div>
									<div class="col-md-5">
										<form id="ff" class="form-horizontal" action="OrderAction_add.action" method="post" >
											<div class="orderinfo">
												<div class="form-group " id="sender-group">
													<label class="col-sm-3 control-label"><b>*</b>姓名：</label>

													<div class="col-sm-8 input-group" style="padding:0 15px;">
														<input name="sendName" type="text" class="form-control" placeholder="请输入发件人姓名" required="required">
														<div class="input-group-addon">
															<button type="button" data-toggle="modal" data-target="#myModal" id="dao"><img src="img/icon/suyun/contact.png"></button>
														</div>

														<!-- Modal -->
														<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
															<div class="modal-dialog">
																<div class="modal-content">
																	<div class="modal-header">
																		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
																		<h4 class="modal-title" id="myModalLabel"><strong>从地址薄导入</strong></h4>
																	</div>
																	<div class="modal-body">
																		<!-- Nav tabs -->
																		<ul class="nav nav-tabs" role="tablist">
																			<li role="presentation" class="active">
																				<a href="#person" role="tab" data-toggle="tab">个人地址</a>
																			</li>
																			<li role="presentation">
																				<a href="#all" role="tab" data-toggle="tab">常用地址</a>
																			</li>

																		</ul>

																		<!-- Tab panes -->
																		<div class="tab-content">

																				<div class="form-group col-md-5">

																					<input type="password" class="form-control" id="inputPassword" placeholder="输入姓名/手机号/地址查询">
																				</div>
																				<button type="submit" class="btn btn-danger new">搜索</button>
																			<table class="table table-striped">
																				<thead>
																					<tr>
																						<th>姓名</th>
																						<th>联系方式</th>
																						<th>公司名</th>
																						<th>详细地址</th>
																					</tr>
																				</thead>
																				<tbody>

																				</tbody>

																			</table>

																			<div role="tabpanel" class="tab-pane active clearfix" id="person">个人地址</div>
																			<div role="tabpanel" class="tab-pane" id="all">常用地址</div>

																		</div>

																	</div>
																	<div class="modal-footer">
																		<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
																		<button type="button" class="btn btn-primary">确定</button>
																	</div>
																</div>
															</div>
														</div>
														<!-- Modal end -->

													</div>
												</div>

												<div class="form-group" id="mobile-group">
													<label class="col-sm-3 control-label"><b>*</b>联系方式：</label>

													<div class="col-sm-8">
														<input name="sendMobile" type="text" class="form-control" placeholder="请输入联系电话" required="required">

													</div>
												</div>
												<div class="form-group" id="sendcompany-group">
													<label class="col-sm-3 control-label">寄件公司：</label>

													<div class="col-sm-8">
														<input name="sendCompany" type="text" class="form-control" placeholder="请输入寄件公司">
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">省市区：</label>

													<div class="col-sm-8 province">
														<div class="docs-methods">
																<div id="distpicker">
																	<div class="form-group">
																		<div class="innercity">
																			<input id="city-picker3" name="sendAreaStr" class="form-control" readonly type="text" value="北京市/昌平区/" data-toggle="city-picker">
																		</div>
																		<button class="btn btn-warning" id="reset" type="button" style="float: right;padding: 8px;">重置</button>

																	</div>

																</div>
														</div>

													</div>
												</div>
												<div class="form-group">
													<label for="inputPassword" class="col-sm-3 control-label"><b>*</b>详细地址1：</label>

													<div class="col-sm-8">
														<input name="sendAddress" id="sendAddress1" type="text" class="form-control" placeholder="街道详细（精确到门牌号） " required="required">

														<p class="error">
															请填写正确的信息
														</p>
													</div>
												</div>

											</div>

									</div>
									<div class="col-md-7"></div>
								</div>
								<!--收件人信息 -->
								<div class="model clearfix">
									<div class="areatitle">
										<h4><span class="zhezhao">收件人信息</span></h4>

									</div>
									<div class="col-md-5">
											<div class="orderinfo">
												<div class="form-group" id="sender-group">
													<label class="col-sm-3 control-label"><b>*</b>姓名：</label>

													<div class="col-sm-8 input-group" style="padding:0 15px;">
														<input name="recName" type="text" class="form-control" placeholder="请输入发件人姓名" required="required">
														<div class="input-group-addon">
															<button type="button" data-toggle="modal" data-target="#myModal" id="dao"><img src="img/icon/suyun/contact.png"></button>
														</div>

														<!-- Modal -->
														<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
															<div class="modal-dialog">
																<div class="modal-content">
																	<div class="modal-header">
																		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
																		<h4 class="modal-title" id="myModalLabel"><strong>从地址薄导入</strong></h4>
																	</div>
																	<div class="modal-body">
																		<!-- Nav tabs -->
																		<ul class="nav nav-tabs" role="tablist">
																			<li role="presentation" class="active">
																				<a href="#person" role="tab" data-toggle="tab">个人地址</a>
																			</li>
																			<li role="presentation">
																				<a href="#all" role="tab" data-toggle="tab">常用地址</a>
																			</li>

																		</ul>

																		<!-- Tab panes -->
																		<div class="tab-content">

																				<div class="form-group col-md-5">

																					<input type="password" class="form-control" id="inputPassword" placeholder="输入姓名/手机号/地址查询">
																				</div>
																				<button type="submit" class="btn btn-danger new">搜索</button>
																			<table class="table table-striped">
																				<thead>
																					<tr>
																						<th>姓名</th>
																						<th>联系方式</th>
																						<th>公司名</th>
																						<th>详细地址</th>
																					</tr>
																				</thead>
																				<tbody>

																				</tbody>

																			</table>

																			<div role="tabpanel" class="tab-pane active clearfix" id="person">个人地址</div>
																			<div role="tabpanel" class="tab-pane" id="all">常用地址</div>

																		</div>

																	</div>
																	<div class="modal-footer">
																		<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
																		<button type="button" class="btn btn-primary">确定</button>
																	</div>
																</div>
															</div>
														</div>
														<!-- Modal end -->

													</div>

												</div>
												<div class="form-group" id="mobile-group">
													<label class="col-sm-3 control-label"><b>*</b>联系方式：</label>

													<div class="col-sm-8">
														<input name="recMobile" type="text" class="form-control" placeholder="请输入联系电话" required="required">

													</div>
												</div>
												<div class="form-group" id="sendcompany-group">
													<label class="col-sm-3 control-label">收件公司：</label>

													<div class="col-sm-8">
														<input name="recCompany" type="text" class="form-control" placeholder="请输入寄件公司">
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">省市区：</label>

													<div class="col-sm-8 province">
														<div class="docs-methods">
																<div id="distpicker">
																	<div class="form-group">
																		<div class="innercity">
																			<input id="city-picker2" name="recAreaStr" class="form-control" readonly type="text" value="北京市/昌平区/" data-toggle="city-picker">
																		</div>
																		<button class="btn btn-warning" id="reset2" type="button" style="float: right;padding: 8px;">重置</button>

																	</div>

																</div>
														</div>
													</div>
												</div>
												<div class="form-group">
													<label for="inputPassword" class="col-sm-3 control-label"><b>*</b>详细地址2：</label>

													<div class="col-sm-8">
														<input name="recAddress" id="sendAddress2" type="text" class="form-control" placeholder="街道详细（精确到门牌号） " required="required">

													</div>
												</div>

											</div>

									</div>
									<div class="col-md-7"></div>

								</div>

								<div class="partline"></div>

								<!--快件信息 -->
								<div class="model clearfix">
									<div class="areatitle">
										<h4><span class="zhezhao">快件信息</span></h4>

									</div>
									<div class="col-md-5">
											<div class="orderinfo">
												<div class="form-group" id="sender-group">
													<label class="col-sm-3 control-label"><b>*</b>拖寄物：</label>
													<div class="col-sm-8">
														<select name="goodsType" class="form-control">
															<option>文件</option>
															<option>衣服</option>
															<option>食品</option>
															<option>电子产品</option>

														</select>
													</div>
												</div>
												<div class="form-group" id="mobile-group">
													<label class="col-sm-3 control-label">重量：</label>
													<div class="col-sm-8">
														<input name="weight" type="text" class="form-control" placeholder="请输入联系电话" required="required">
													</div>
												</div>
												<div class="form-group" id="sendcompany-group">
													<label class="col-sm-3 control-label">备注：</label>
													<div class="col-sm-8">
														<input name="remark" type="text" class="form-control" placeholder="备注不超过20个字">
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">快递产品：</label>
													<div class="col-sm-8">
														<select name="sendProNum" class="form-control">
															<option>顺丰当日</option>
															<option>顺丰次日</option>
															<option>顺丰隔日</option>
														</select>
													</div>
												</div>
												<div class="form-group">
													<label for="inputPassword" class="col-sm-3 control-label">付款方式：</label>
													<div class="col-sm-8">
														<select name="payTypeNum" class="form-control">
															<option>寄付日结</option>
															<option>寄付月结</option>
															<option>到付</option>
														</select>
													</div>
												</div>
												<p><b>增值服务</b></p>
												<div class="form-group">
													<label for="inputPassword" class="col-sm-3 control-label">普适型：</label>
													<div class="col-sm-8">
														<label class="checkbox-inline"> 
													        <input type="radio" name="optionsRadiosinline" id="optionsRadios3" value="option1" checked>自取 
													    </label>
														<label class="checkbox-inline"> 
													        <input type="radio" name="optionsRadiosinline" id="optionsRadios4" value="option2">保价	
											        </div>
										        </div>
                                       <div class="form-group">
											<label for="inputPassword" class="col-sm-3 control-label">行业型：</label>
														<div class="col-sm-8">
															<select class="form-control">
																<option>我不需要</option>
																<option>保鲜</option>
																<option>大闸蟹</option>
																<option>票据专送</option>
															</select>
														</div>
													</div>

												</div>
										</div>
										<div class="col-md-7"></div>
									</div>

									<div class="partline"></div>

									<!--寄件方式 -->
									<div class="model clearfix">
										<div class="areatitle">
											<h4><span class="zhezhao">寄件方式</span></h4>
										</div>
										<div class="col-md-5">
												<div class="orderinfo">
													<div class="form-group" id="sender-group">

														<div class="col-sm-offset-3 col-sm-8">
															<label class="checkbox"> 
														        <input type="radio" name="optionsRadiosinline" id="optionsRadios3" value="option1" checked><span class="typetext">速运安排快递员上门取件</span> 
														   </label>
														</div>
													</div>
													<div class="form-group" id="mobile-group">

														<div class="col-sm-offset-3 col-sm-8">
															<label class="checkbox"> 
														        <input type="radio" name="optionsRadiosinline" id="optionsRadios3" value="option1" ><span class="typetext">自行联系快递员或自己上门寄件</span> 
														   </label>
														</div>
													</div>
												</div>
										</div>
										<div class="col-md-7"></div>
									</div>
									<div class="partline"></div>
									<!--预约-->
									<div class="model clearfix">

										<div class="col-md-5">
												<div class="orderinfo">
													<div class="form-group" id="sender-group">
														<label class="col-sm-3 control-label">预约时间：</label>

														<div class="col-sm-8">
															<select class="form-control">
																<option>一小时上门</option>

															</select>
														</div>
													</div>
													<div class="form-group" id="mobile-group">
														<label class="col-sm-3 control-label">给小哥捎话：</label>

														<div class="col-sm-8">
															<input  type="text" class="form-control" placeholder="有什么要提醒快递员的吗？" required="required">

														</div>
													</div>
												</div>
										</div>
										<div class="col-md-7"></div>
									</div>
									<div class="partline"></div>
									<!--新增信息：receiver-->
									<div id="collapseOne" class="accordion-body collapse modelinfo" style="height: 0px; ">
										<!--收件人信息 -->
										<div class="model clearfix">
											<div class="areatitle">
												<h4><span class="zhezhao">收件人信息</span></h4>

											</div>
											<div class="col-md-5">
													<div class="orderinfo">
														<div class="form-group" id="sender-group">
															<label class="col-sm-3 control-label"><b>*</b>姓名：</label>

															<div class="col-sm-8 input-group" style="padding:0 15px;">
																<input  type="text" class="form-control" placeholder="请输入发件人姓名" ng-model="orderdata.sendName" required="required">
																<div class="input-group-addon">
																	<button type="button" data-toggle="modal" data-target="#myModal" id="dao"><img src="img/icon/suyun/contact.png"></button>
																</div>

																<!-- Modal -->
																<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
																	<div class="modal-dialog">
																		<div class="modal-content">
																			<div class="modal-header">
																				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
																				<h4 class="modal-title" id="myModalLabel"><strong>从地址薄导入</strong></h4>
																			</div>
																			<div class="modal-body">
																				<!-- Nav tabs -->
																				<ul class="nav nav-tabs" role="tablist">
																					<li role="presentation" class="active">
																						<a href="#person" role="tab" data-toggle="tab">个人地址</a>
																					</li>
																					<li role="presentation">
																						<a href="#all" role="tab" data-toggle="tab">常用地址</a>
																					</li>

																				</ul>

																				<!-- Tab panes -->
																				<div class="tab-content">

																						<div class="form-group col-md-5">

																							<input type="password" class="form-control" id="inputPassword" placeholder="输入姓名/手机号/地址查询">
																						</div>
																						<button type="submit" class="btn btn-danger new">搜索</button>
																					<table class="table table-striped">
																						<thead>
																							<tr>
																								<th>姓名</th>
																								<th>联系方式</th>
																								<th>公司名</th>
																								<th>详细地址</th>
																							</tr>
																						</thead>
																						<tbody>

																						</tbody>

																					</table>

																					<div role="tabpanel" class="tab-pane active clearfix" id="person">个人地址</div>
																					<div role="tabpanel" class="tab-pane" id="all">常用地址</div>

																				</div>

																			</div>
																			<div class="modal-footer">
																				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
																				<button type="button" class="btn btn-primary">确定</button>
																			</div>
																		</div>
																	</div>
																</div>

															</div>

														</div>
														<div class="form-group" id="mobile-group">
															<label class="col-sm-3 control-label"><b>*</b>联系方式：</label>

															<div class="col-sm-8">
																<input  type="text" class="form-control" placeholder="请输入联系电话" ng-model="orderdata.sendMobile" required="required">

															</div>
														</div>
														<div class="form-group" id="sendcompany-group">
															<label class="col-sm-3 control-label">收件公司：</label>

															<div class="col-sm-8">
																<input  type="text" class="form-control" placeholder="请输入寄件公司" ng-model="orderdata.sendCompany">
															</div>
														</div>
														<div class="form-group">
															<label class="col-sm-3 control-label">省市区：</label>

															<div class="col-sm-8 province">
																<div class="docs-methods">
																		<div id="distpicker">
																			<div class="form-group">
																				<div class="innercity">
																					<input id="city-picker2" class="form-control" readonly type="text" value="北京市/昌平区/" data-toggle="city-picker">
																				</div>
																				<button class="btn btn-warning" id="reset2" type="button" style="float: right;padding: 8px;">重置</button>

																			</div>

																		</div>
																</div>
															</div>
														</div>
														<div class="form-group">
															<label for="inputPassword" class="col-sm-3 control-label"><b>*</b>详细地址3：</label>

															<div class="col-sm-8">
																<input  type="text" class="form-control" placeholder="街道详细（精确到门牌号） " ng-model="orderdata.sendAddress" required="required">

															</div>
														</div>

													</div>

											</div>
											<div class="col-md-7"></div>

										</div>

										<div class="model clearfix">
											<div class="areatitle">
												<h4><span class="zhezhao">快件信息</span></h4>

											</div>
											<div class="col-md-5">
													<div class="orderinfo">
														<div class="form-group" id="sender-group">
															<label class="col-sm-3 control-label"><b>*</b>拖寄物：</label>

															<div class="col-sm-8">
																<select class="form-control">
																	<option>文件</option>
																	<option>衣服</option>
																	<option>食品</option>
																	<option>电子产品</option>

																</select>

															</div>
														</div>
														<div class="form-group" id="mobile-group">
															<label class="col-sm-3 control-label">重量：</label>

															<div class="col-sm-8">
																<input  type="text" class="form-control" placeholder="请输入联系电话" required="required">

															</div>
														</div>
														<div class="form-group" id="sendcompany-group">
															<label class="col-sm-3 control-label">备注：</label>

															<div class="col-sm-8">
																<input  type="text" class="form-control" placeholder="备注不超过20个字">
															</div>
														</div>
														<div class="form-group">
															<label class="col-sm-3 control-label">快递产品：</label>

															<div class="col-sm-8">
																<select class="form-control">
																	<option>顺丰当日</option>
																	<option>顺丰次日</option>
																	<option>顺丰隔日</option>

																</select>

															</div>
														</div>
														<div class="form-group">
															<label for="inputPassword" class="col-sm-3 control-label">付款方式：</label>
															<div class="col-sm-8">
																<select class="form-control">
																	<option>寄付日结</option>
																	<option>寄付月结</option>
																	<option>到付</option>

																</select>

															</div>
														</div>
														<p><b>增值服务</b></p>
														<div class="form-group">
															<label for="inputPassword" class="col-sm-3 control-label">普适型：</label>
															<div class="col-sm-8">
																<label class="checkbox-inline"> 
        <input type="radio" name="optionsRadiosinline" id="optionsRadios3" value="option1" checked>自取 
    </label>
																<label class="checkbox-inline"> 
        <input type="radio" name="optionsRadiosinline" id="optionsRadios4" value="option2">保价

												
											</div>
										</div>
                                       <div class="form-group">
											<label for="inputPassword" class="col-sm-3 control-label">行业型：</label>
																<div class="col-sm-8">
																	<select class="form-control">
																		<option>我不需要</option>
																		<option>保鲜</option>
																		<option>大闸蟹</option>
																		<option>票据专送</option>

																	</select>

																</div>
															</div>

														</div>

												</div>
												<div class="col-md-7"></div>

											</div>

										</div>

										<div class="addorder clearfix">

											<p class="text-center">
												<a class="btn btn-danger accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">新增一单</a>

											</p>

										</div>

									</div>

									<div role="tabpanel" class="tab-pane fade" id="two">港澳台待定</div>

								</div>

							</div>
							<div role="tabpanel" class="tab-pane fade" id="profile">
								<div class="model">
									<div class="areatitle">
										<h4><span class="zhezhao">寄件人信息</span></h4>

									</div>
									<div class="col-md-5">
											<div class="orderinfo">
												<div class="form-group" id="sender-group">
													<label class="col-sm-3 control-label"><b>*</b>姓名：</label>

													<div class="col-sm-8">
														<input  type="text" class="form-control" placeholder="请输入发件人姓名" required="required">

													</div>
												</div>
												<div class="form-group" id="mobile-group">
													<label class="col-sm-3 control-label"><b>*</b>联系方式：</label>

													<div class="col-sm-8">
														<input  type="text" class="form-control" placeholder="请输入联系电话" required="required">

													</div>
												</div>
												<div class="form-group" id="sendcompany-group">
													<label class="col-sm-3 control-label">寄件公司：</label>

													<div class="col-sm-8">
														<input  type="text" class="form-control" placeholder="请输入寄件公司">
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">省市区：</label>

													<div class="col-sm-8">
														<input  type="text" class="form-control" placeholder="请填写正确的省市区">
													</div>
												</div>
												<div class="form-group">
													<label for="inputPassword" class="col-sm-3 control-label"><b>*</b>详细地址4：</label>

													<div class="col-sm-8">
														<input  type="text" class="form-control" placeholder="街道详细（精确到门牌号） " required="required">
													</div>
												</div>
											</div>
									</div>
									<div class="col-md-7"></div>
								</div>
								<div class="partline clearfix"></div>
								<div class="daoru">
									<p>
										<a href="#" class="btn btn-default" data-toggle="modal" data-target="#ExcelModal">导入Excel</a>
										<a href="#" class="btn btn-default">从地址薄导入</a>
										<input type="button" onclick="Click()" value="下载Excel" class="btn btn-danger">
									</p>
								</div>
								<!--导入excel-->
								<div class="modal fade" id="ExcelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
												<h4 class="modal-title" id="myModalLabel"><strong>导入Excel模板</strong></h4>
											</div>
											<div class="modal-body" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
												<center><img src="img/icon/xlsLogo.png" class="img-responsive"></center>
												<div class="row excel">

													<div class="col-md-6">
														<input type="file" nv-file-select="" uploader="uploader" />
													</div>

													<div class="col-md-6">

														<div>
															<span style="float:left">上传进度:</span>
															<div class="progress">
																<div class="progress-bar" role="progressbar"></div>
															</div>
														</div>
													</div>
													<button type="button" class="btn btn-success btn-s">上传</button>
													<button type="button" class="btn btn-danger btn-s">删除</button>
												</div>

											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
												<button type="button" class="btn btn-primary">确定</button>
											</div>
										</div>
									</div>
								</div>
								<div class="searchset">
										<div class="form-group">
											<div class="input-group">
												<input type="text" class="form-control" id="exampleInputAmount" placeholder="请输入姓名/电话/地址">
												<div class="input-group-addon btn btn-danger">搜索</div>
											</div>
										</div>
										<input type="checkbox" /><span class="typetext">只显示错误信息</span>
									</form>
									<div class="setbtn">
										<a href="#" class="btn btn-danger">批量设置</a>
										<a href="#" class="btn btn-default">删除</a>
									</div>
								</div>
								<!--piliang-->
								<table class="table table-striped clearfix">

									<tr>
										<td><input type="checkbox" />　收件人姓名</td>
										<td>收件人联系电话 </td>
										<td>收件人公司 </td>
										<td>省 </td>
										<td>市</td>
										<td>区</td>
										<td>详细地址</td>
									</tr>
								</table>
							</div>
							<div class="col-md-11 submit">
								<div class="xieyi"><input type="checkbox" checked="checked" />我已阅读并同意《快件运单契约条款》 </div>
								<div class="tijiao">
									<div class="tjtext">
										<p class="red">1、如果您在周六、日等法定节假日期间寄件，将会做相应加时。（以上“预计时效”已做相应加时）</p>
										<p class="red">2、如果您收方地址属于偏远地区，在“预计时效”基础上需增加0.5天.</p>
									</div>
								</div>
							</div>
							<div class="col-md-1 ordertj">
								<a href="javascript:$('#ff').submit()" class="btn btn-danger">提交</a>
							</div>
						</div>
			</section>
			</div>
			<div class="nav-bottom"></div>
			<a href="#0" class="cd-top">Top</a>

	</body>

</html>