

table {
	font-size: 12px;
}

.mainnav .navbar-brand {
	padding: 11px 15px;
}

.mainnav .navbar-default {
	background: #fff;
    margin-bottom: 0px;
}

.mainnav .navbar-nav>li>a {
	padding: 25px;
}
.mainnav .navbar-nav>li>a:hover{
	background-color: #df3033;
	color: #fff;
}

a.cur{ background:#df3033;color: #fff !important;}

.navbar-collapse ul li a{font-size:16px;font-family: "微软雅黑";}
footer {
	font-family: '宋体';
	font-size: 14px;
	color: #666;
}

.footnav {
	background: #F2F2F2;
	padding: 30px 0 10px 0;
}

.copyright {
	font-size: 12px;
	text-align: center;
	background: #666;
	padding: 30px 0;
	color: #fff;
}

footer .list-inline {
	float: left;
	width: 20%;
}

.inner {
	padding-top: 15px;
}

.inner li {
	font-size: 12px;
	color: #999999;
	line-height: 26px;
}

.contact {
	float: left
}

.saoma {
	float: right
}

.tel,
.bigtel {
	color: #df3033
}

.tel {
	font-size: 30px;
	font-weight: bold;
}
/*返回顶部按钮样式*/
.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: #df3033 url(../img/icon/suyun/gotop.png) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}

.cd-top.cd-fade-out:hover {
    /* 如果用户继续向下滚动,这个按钮的透明度会变得更低 */
    opacity: 1;
    background-color: #df3033;
}

.no-touch .cd-top a:hover {
    background-color: #df3033;
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 40px;
        width: 40px;
        right: 30px;
        bottom: 30px;
    }
}
