.order {
	font-family: "微软雅黑";
}

.clearfix {
	clear: both;
}

.grey {
	color: #999
}

.control-label {
	font-size: 12px;
	font-family: "宋体";
	font-weight: normal;
}

form {
	padding: 5px;
	color: #666666
}

b {
	color: #e60012
}

.btn-warning {
	float: right;
	padding: 8px;
}

.red {
	font-size: 12px;
	color: #e60012
}

input.form-control {
	border-radius: 0;
}

.form-group .input-group {
	padding-left: 15px;
}

table thead {
	background: #F2F2F2
}

#distpicker .form-group {
	margin: 0;
}

.form-group .province {
	margin-top: -10px
}

.innercity {
	float: left
}

#dao {
	border: none;
	padding: 0 2px;
}

.input-group .input-group-addon {
	padding: 0 2px;
	background: #fff;
	border-left: none
}

.typetext {
	color: #666;
	font-weight: normal;
	font-family: "宋体";
	padding-left: 8px;
	font-size: 12px;
}

.order .btn {
	font-size: 12px;
	font-family: "宋体";
	border-radius: 0;
	padding: 6px 24px;
}

.tab-content .new {
	padding: 7px 20px;
	margin-left: 20px
}

section .nav-tabs>li.active>a,
section .nav-tabs>li.active>a:focus,
section .nav-tabs>li.active>a:hover {
	border: 0;
	border-right: 1px solid #ddd;
	border-radius: 0;
	background: #eaeaea;
	color: #df3033
}

.input-group .input-group-addon {
	border-radius: 0;
}

.error {
	display: none;
}


/*tabtitle*/

section .tab-title {
	background: #eaeaea;
}

.jiangli {
	padding: 2%;
	overflow: hidden;
}

.jiangli .xiaojf,
.jiangli .tenjf,
.jiangli .qianjf {
	height: 64px;
	padding-left: 8%;
}

.jiangli .xiaojf {
	background: url(../img/icon/suyun/ordercon01.png) no-repeat;
}

.jiangli .tenjf {
	background: url(../img/icon/suyun/ordercon02.png) no-repeat;
}

.jiangli .qianjf {
	background: url(../img/icon/suyun/ordercon03.png) no-repeat;
}

#home .nav-tabs {
	background: #eaeaea;
}

#profile table {
	margin: 2px 0 7px;
}


/*tabcontent*/

.container .tab-content {
	padding: 20px;
}

.areatitle {
	background: url(../img/icon/line.png) repeat-x center;
}

.areatitle h4 .zhezhao {
	background: #fff;
	padding: 10px;
}

#one,
#two {
	overflow: hidden;
}

.partline {
	height: 2px;
	background: url(../img/icon/partline.png) repeat-x;
	padding: 7px 0;
}

p b {
	color: #555
}

.searchset,
.daoru {
	overflow: hidden;
}

.daoru {
	padding: 10px 4%;
}

.searchset {
	padding: 10px 2%;
}

.daoru {
	border-bottom: 1px solid #d1d1d1;
}

.searchset .form-inline {
	float: left
}

.searchset .setbtn {
	float: right
}

.submit {
	border: 1px solid #d1d1d1;
	padding: 12px 10px;
	overflow: hidden;
	margin-bottom: 20px;
}

.container .ordertj {
	padding: 0
}

.submit .xieyi {
	float: left;
	margin-top: 17px;
	font-size: 12px;
}

.submit .tijiao {
	float: right
}

.tijiao .tjtext {
	float: left
}

.tijiao .ordertj {
	float: right
}

.ordertj .btn-danger {
	padding: 26px 22px 29px;
	font-size: 16px;
	font-family: "微软雅黑";
}

.input-group .btn-danger {
	background: #d9534f;
	color: #fff
}


/*upload*/

.my-drop-zone {
	border: dotted 3px lightgray;
}

.nv-file-over {
	border: dotted 3px red;
}


/* Default class applied to drop zones on over */

.another-file-over-class {
	border: dotted 3px green;
}

.modal-body .excel {
	padding: 15px 10px;
	text-align: center;
}